In [1]:
import pandas as pd

In [42]:
hdata= pd.read_csv('human_data.txt/human_data.txt',delimiter='\t')

In [43]:
hdata.head()

                                            sequence  class
0  ATGCCCCAACTAAATACTACCGTATGGCCCACCATAATTACCCCCA...      4
1  ATGAACGAAAATCTGTTCGCTTCATTCATTGCCCCCACAATCCTAG...      4
2  ATGTGTGGCATTTGGGCGCTGTTTGGCAGTGATGATTGCCTTTCTG...      3
3  ATGTGTGGCATTTGGGCGCTGTTTGGCAGTGATGATTGCCTTTCTG...      3
4  ATGCAACAGCATTTTGAATTTGAATACCAGACCAAAGTGGATGGTG...      3

In [44]:
ddata = pd.read_csv('dog_data.txt/dog_data.txt',delimiter='\t')

In [45]:
ddata.head()

                                            sequence  class
0  ATGCCACAGCTAGATACATCCACCTGATTTATTATAATCTTTTCAA...      4
1  ATGAACGAAAATCTATTCGCTTCTTTCGCTGCCCCCTCAATAATAG...      4
2  ATGGAAACACCCTTCTACGGCGATGAGGCGCTGAGCGGCCTGGGCG...      6
3  ATGTGCACTAAAATGGAACAGCCCTTCTACCACGACGACTCATACG...      6
4  ATGAGCCGGCAGCTAAACAGAAGCCAGAACTGCTCCTTCAGTGACG...      0

In [46]:
cdata = pd.read_csv('chimp_data.txt/chimp_data.txt',delimiter='\t')

In [47]:
cdata.head()

                                            sequence  class
0  ATGCCCCAACTAAATACCGCCGTATGACCCACCATAATTACCCCCA...      4
1  ATGAACGAAAATCTATTCGCTTCATTCGCTGCCCCCACAATCCTAG...      4
2  ATGGCCTCGCGCTGGTGGCGGTGGCGACGCGGCTGCTCCTGGAGGC...      4
3  ATGGCCTCGCGCTGGTGGCGGTGGCGACGCGGCTGCTCCTGGAGGC...      4
4  ATGGGCAGCGCCAGCCCGGGTCTGAGCAGCGTGTCCCCCAGCCACC...      6

In [54]:
def createSublist(string):
    return ' '.join([string[i:i+6] for i in range(len(string)-5)]).lower()

In [55]:
ddata['sequence'] = ddata['sequence'].apply(createSublist)
hdata['sequence'] = hdata['sequence'].apply(createSublist)
cdata['sequence'] = cdata['sequence'].apply(createSublist)

In [56]:
hdata.head()

                                            sequence  class
0  atgccc tgcccc gcccca ccccaa cccaac ccaact caac...      4
1  atgaac tgaacg gaacga aacgaa acgaaa cgaaaa gaaa...      4
2  atgtgt tgtgtg gtgtgg tgtggc gtggca tggcat ggca...      3
3  atgtgt tgtgtg gtgtgg tgtggc gtggca tggcat ggca...      3
4  atgcaa tgcaac gcaaca caacag aacagc acagca cagc...      3

In [57]:
finalData = pd.concat([ddata,hdata,cdata],axis=0)

In [58]:
finalData.head()

                                            sequence  class
0  atgcca tgccac gccaca ccacag cacagc acagct cagc...      4
1  atgaac tgaacg gaacga aacgaa acgaaa cgaaaa gaaa...      4
2  atggaa tggaaa ggaaac gaaaca aaacac aacacc acac...      6
3  atgtgc tgtgca gtgcac tgcact gcacta cactaa acta...      6
4  atgagc tgagcc gagccg agccgg gccggc ccggca cggc...      0

In [59]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

In [60]:
X_train, X_test, y_train, y_test = train_test_split( finalData['sequence'], finalData['class'], test_size=0.33, random_state=42)

In [61]:
vector = CountVectorizer(ngram_range=(4,4))
X_data = vector.fit_transform(X_train)

In [62]:
X_train

1644    atggcc tggccc ggccct gccctg ccctgt cctgta ctgt...
78      ctggag tggagg ggagga gaggag aggaga ggagaa gaga...
3339    ngggag gggaga ggagat gagatg agatgg gatgga atgg...
1442    ggggtg gggtgg ggtggt gtggtg tggtgg ggtggt gtgg...
44      atggga tgggag gggagg ggaggc gaggcc aggccg ggcc...
                              ...
2952    atgagc tgagca gagcac agcaca gcacag cacagt acag...
4371    atggaa tggaag ggaaga gaagat aagatt agattt gatt...
26      atgctg tgctgg gctggc ctggca tggcag ggcagc gcag...
190     atggaa tggaat ggaatc gaatcg aatcgc atcgcc tcgc...
40      atgttc tgttct gttctc ttctct tctctc ctctcg tctc...
Name: sequence, Length: 4610, dtype: object

In [63]:
mulNB = MultinomialNB(alpha=0.1)
mulNB.fit(X_data,y_train)

MultinomialNB(alpha=0.1)

In [64]:
X_test = vector.transform(X_test)
predNB = mulNB.predict(X_test)

In [65]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [66]:
print(confusion_matrix(predNB,y_test))
print(classification_report(predNB,y_test))
print(accuracy_score(predNB,y_test))

[[302   1   0   1   0   2   0]
 [  0 274   0   0   0   0   0]
 [  0   0 162   0   0   0   0]
 [  0   0   1 342   0   0   1]
 [  0   0   0   0 347   0   0]
 [  0   0   0   0   0 121   0]
 [  1   4   2   4   6   0 701]]
              precision    recall  f1-score   support

           0       1.00      0.99      0.99       306
           1       0.98      1.00      0.99       274
           2       0.98      1.00      0.99       162
           3       0.99      0.99      0.99       344
           4       0.98      1.00      0.99       347
           5       0.98      1.00      0.99       121
           6       1.00      0.98      0.99       718

    accuracy                           0.99      2272
   macro avg       0.99      0.99      0.99      2272
weighted avg       0.99      0.99      0.99      2272

0.9898767605633803